# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
seamvenv/

# Environment and secret files
.env
.env.*

# Jupyter notebooks
.ipynb_checkpoints/

# VS Code config (optional)
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs and data you want ignored
!data/evaluation_data/runningexample.xes
data/evaluation_data/
data/test_data/
data/processed_event_data/

# Test notebooks
notebooks/
!notebooks/example_notebook.ipynb

# Test environment
testapp/

# Optional: Compiled output or builds
dist/
build/
*.egg-info/
