<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Time-Order Map for Seamless Zooming</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
  <center><h1>Time-Order Map for Seamless Zooming</h1></center>
  <div id="main-layout">
      <!-- Graph and slider-->
      <div id="graph-section">
        <div id="chart"></div>
        <div class="slider-abstraction">
          <div class="slider-abstraction-container">
            <input type="range" id="slider-abstraction-level" name="abstraction-level"/>
          </div>
          <label for="slider-abstraction-level">
            Abstraction level: 
            <span id="slider-abstraction-level-value">0</span>
          </label>
        </div>
      </div>

      <!-- Graph parameters --> 
      <div id="parameters-section">
        <div id="parameters-graph">
          <h3>Element transitions:</h3>
          <div class="param-group">
            <div class="option-switcher" id="toggle-group-opacity">
              <input type="radio" name="option-switcher-value" id="level-low" value="0" checked>
              <label for="level-low">Off</label>

              <input type="radio" name="option-switcher-value" id="level-mid" value="1">
              <label for="level-mid">Edges</label>

              <input type="radio" name="option-switcher-value" id="level-high" value="2">
              <label for="level-high">Graph</label>
              <i>Gradual change in opacity for instance elements.</i>
            </div>
            <div class="checkbox-row">
              <input type="checkbox" id="toggle-instance-element-rendering" />
              <label>Enable instance element rendering.</label>
            </div>
            <div class="checkbox-row">
              <input type="checkbox" id="toggle-dfg-graph" />
              <label>Show/Hide activities.</label>
            </div>
          </div>

          <div class="param-group">
            <h3>Contour lines:</h3>

            <div class="slider-row">
              <label>Bandwidth:</label>
              <input type="range" id="contour-bandwidth-slider" min="10" max="200" step="10" value="60">
              <span id="contour-bandwidth-value">60</span>
            </div>

            <div class="slider-row">
              <label>Thresholds:</label>
              <input type="range" id="contour-threshold-slider" min="1" max="10" step="1" value="3">
              <span id="contour-threshold-value">3</span>
            </div>

            <div class="checkbox-row">
              <input type="checkbox" id="toggle-contour-lines" />
              <label>Show/Hide contour lines.</label>
            </div>
            <button id="button-update-abstraction-graph">Update Graph</button>
            <div id="graph-update-status" style="margin-top: 10px; font-style: italic;"></div>
          </div> 
        </div>

        <!-- Import/Export parameters --> 
        <div id="parameters-import">
          <h3>Import:</h3>
          <div class="param-group">
            <form id="upload-form" enctype="multipart/form-data">
              <input type="file" id="file-input" name="file" accept=".csv, .xes" />
              <button type="button-import" id="button-import">Import Event Log</button>
            </form>
          </div>

          <div class="param-group">
            <button id="button-reset">Reset to Example Log</button>
          </div>

          <h3>Export:</h3>
          <div class = "param-group">
            <button onclick="exportData()">Export SVG</button>
          </div>
        </div>
      </div>
  </div>
  
  <!-- Javascripts -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>